@font-face {
  font-family: "Playfair Display";
  src: url("../playfair/playfairDisplay.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Playfair Display";
  src: url("../playfair/playfairDisplayBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
