@font-face {
  font-family: "Inter";
  src: url("../inter/Inter-BoldItalic.eot");
  src: local("../inter/Inter Bold Italic"), local("../inter/Inter-BoldItalic"),
    url("../inter/Inter-BoldItalic.eot?#iefix") format("embedded-opentype"),
    url("../inter/Inter-BoldItalic.woff2") format("woff2"),
    url("../inter/Inter-BoldItalic.woff") format("woff"),
    url("../inter/Inter-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Inter";
  src: url("../inter/Inter-MediumItalic.eot");
  src: local("../inter/Inter Medium Italic"),
    local("../inter/Inter-MediumItalic"),
    url("../inter/Inter-MediumItalic.eot?#iefix") format("embedded-opentype"),
    url("../inter/Inter-MediumItalic.woff2") format("woff2"),
    url("../inter/Inter-MediumItalic.woff") format("woff"),
    url("../inter/Inter-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Inter";
  src: url("../inter/Inter-ThinItalicBETA.eot");
  src: local("../inter/Inter Thin Italic BETA"),
    local("../inter/Inter-ThinItalicBETA"),
    url("../inter/Inter-ThinItalicBETA.eot?#iefix") format("embedded-opentype"),
    url("../inter/Inter-ThinItalicBETA.woff2") format("woff2"),
    url("../inter/Inter-ThinItalicBETA.woff") format("woff"),
    url("../inter/Inter-ThinItalicBETA.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Inter";
  src: url("../inter/Inter-Regular.eot");
  src: local("../inter/Inter Regular"), local("../inter/Inter-Regular"),
    url("../inter/Inter-Regular.eot?#iefix") format("embedded-opentype"),
    url("../inter/Inter-Regular.woff2") format("woff2"),
    url("../inter/Inter-Regular.woff") format("woff"),
    url("../inter/Inter-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("../inter/Inter-Black.eot");
  src: local("../inter/Inter Black"), local("../inter/Inter-Black"),
    url("../inter/Inter-Black.eot?#iefix") format("embedded-opentype"),
    url("../inter/Inter-Black.woff2") format("woff2"),
    url("../inter/Inter-Black.woff") format("woff"),
    url("../inter/Inter-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("../inter/Inter-BlackItalic.eot");
  src: local("../inter/Inter Black Italic"), local("../inter/Inter-BlackItalic"),
    url("../inter/Inter-BlackItalic.eot?#iefix") format("embedded-opentype"),
    url("../inter/Inter-BlackItalic.woff2") format("woff2"),
    url("../inter/Inter-BlackItalic.woff") format("woff"),
    url("../inter/Inter-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Inter";
  src: url("../inter/Inter-LightBETA.eot");
  src: local("../inter/Inter Light BETA"), local("../inter/Inter-LightBETA"),
    url("../inter/Inter-LightBETA.eot?#iefix") format("embedded-opentype"),
    url("../inter/Inter-LightBETA.woff2") format("woff2"),
    url("../inter/Inter-LightBETA.woff") format("woff"),
    url("../inter/Inter-LightBETA.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("../inter/Inter-SemiBold.eot");
  src: local("../inter/Inter Semi Bold"), local("../inter/Inter-SemiBold"),
    url("../inter/Inter-SemiBold.eot?#iefix") format("embedded-opentype"),
    url("../inter/Inter-SemiBold.woff2") format("woff2"),
    url("../inter/Inter-SemiBold.woff") format("woff"),
    url("../inter/Inter-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("../inter/Inter-ExtraBoldItalic.eot");
  src: local("../inter/Inter Extra Bold Italic"),
    local("../inter/Inter-ExtraBoldItalic"),
    url("../inter/Inter-ExtraBoldItalic.eot?#iefix") format("embedded-opentype"),
    url("../inter/Inter-ExtraBoldItalic.woff2") format("woff2"),
    url("../inter/Inter-ExtraBoldItalic.woff") format("woff"),
    url("../inter/Inter-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Inter";
  src: url("../inter/Inter-Bold.eot");
  src: local("../inter/Inter Bold"), local("../inter/Inter-Bold"),
    url("../inter/Inter-Bold.eot?#iefix") format("embedded-opentype"),
    url("../inter/Inter-Bold.woff2") format("woff2"),
    url("../inter/Inter-Bold.woff") format("woff"),
    url("../inter/Inter-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("../inter/Inter-ExtraLightItalicBETA.eot");
  src: local("../inter/Inter Extra Light Italic BETA"),
    local("../inter/Inter-ExtraLightItalicBETA"),
    url("../inter/Inter-ExtraLightItalicBETA.eot?#iefix")
      format("embedded-opentype"),
    url("../inter/Inter-ExtraLightItalicBETA.woff2") format("woff2"),
    url("../inter/Inter-ExtraLightItalicBETA.woff") format("woff"),
    url("../inter/Inter-ExtraLightItalicBETA.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Inter";
  src: url("../inter/Inter-ExtraLightBETA.eot");
  src: local("../inter/Inter Extra Light BETA"),
    local("../inter/Inter-ExtraLightBETA"),
    url("../inter/Inter-ExtraLightBETA.eot?#iefix") format("embedded-opentype"),
    url("../inter/Inter-ExtraLightBETA.woff2") format("woff2"),
    url("../inter/Inter-ExtraLightBETA.woff") format("woff"),
    url("../inter/Inter-ExtraLightBETA.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("../inter/Inter-ExtraBold.eot");
  src: local("../inter/Inter Extra Bold"), local("../inter/Inter-ExtraBold"),
    url("../inter/Inter-ExtraBold.eot?#iefix") format("embedded-opentype"),
    url("../inter/Inter-ExtraBold.woff2") format("woff2"),
    url("../inter/Inter-ExtraBold.woff") format("woff"),
    url("../inter/Inter-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("../inter/Inter-ThinBETA.eot");
  src: local("../inter/Inter Thin BETA"), local("../inter/Inter-ThinBETA"),
    url("../inter/Inter-ThinBETA.eot?#iefix") format("embedded-opentype"),
    url("../inter/Inter-ThinBETA.woff2") format("woff2"),
    url("../inter/Inter-ThinBETA.woff") format("woff"),
    url("../inter/Inter-ThinBETA.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("../inter/Inter-LightItalicBETA.eot");
  src: local("../inter/Inter Light Italic BETA"),
    local("../inter/Inter-LightItalicBETA"),
    url("../inter/Inter-LightItalicBETA.eot?#iefix") format("embedded-opentype"),
    url("../inter/Inter-LightItalicBETA.woff2") format("woff2"),
    url("../inter/Inter-LightItalicBETA.woff") format("woff"),
    url("../inter/Inter-LightItalicBETA.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Inter";
  src: url("../inter/Inter-Italic.eot");
  src: local("../inter/Inter Italic"), local("../inter/Inter-Italic"),
    url("../inter/Inter-Italic.eot?#iefix") format("embedded-opentype"),
    url("../inter/Inter-Italic.woff2") format("woff2"),
    url("../inter/Inter-Italic.woff") format("woff"),
    url("../inter/Inter-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Inter";
  src: url("../inter/Inter-SemiBoldItalic.eot");
  src: local("../inter/Inter Semi Bold Italic"),
    local("../inter/Inter-SemiBoldItalic"),
    url("../inter/Inter-SemiBoldItalic.eot?#iefix") format("embedded-opentype"),
    url("../inter/Inter-SemiBoldItalic.woff2") format("woff2"),
    url("../inter/Inter-SemiBoldItalic.woff") format("woff"),
    url("../inter/Inter-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Inter";
  src: url("../inter/Inter-Medium.eot");
  src: local("../inter/Inter Medium"), local("../inter/Inter-Medium"),
    url("../inter/Inter-Medium.eot?#iefix") format("embedded-opentype"),
    url("../inter/Inter-Medium.woff2") format("woff2"),
    url("../inter/Inter-Medium.woff") format("woff"),
    url("../inter/Inter-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
