@font-face {
  font-family: "Formular";
  src: url("../Formular/formular-BlackItalic.eot");
  src: local("../Formular/formular Black Italic"),
    local("../Formular/formular-BlackItalic"),
    url("../Formular/formular-BlackItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../Formular/formular-BlackItalic.woff2") format("woff2"),
    url("../Formular/formular-BlackItalic.woff") format("woff"),
    url("../Formular/formular-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Formular";
  src: url("../Formular/formular-MediumItalic.eot");
  src: local("../Formular/formular Medium Italic"),
    local("../Formular/formular-MediumItalic"),
    url("../Formular/formular-MediumItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../Formular/formular-MediumItalic.woff2") format("woff2"),
    url("../Formular/formular-MediumItalic.woff") format("woff"),
    url("../Formular/formular-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Formular";
  src: url("../Formular/formular-Italic.eot");
  src: local("../Formular/formular Italic"),
    local("../Formular/formular-Italic"),
    url("../Formular/formular-Italic.eot?#iefix") format("embedded-opentype"),
    url("../Formular/formular-Italic.woff2") format("woff2"),
    url("../Formular/formular-Italic.woff") format("woff"),
    url("../Formular/formular-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Formular";
  src: url("../Formular/formular-LightItalic.eot");
  src: local("../Formular/formular Light Italic"),
    local("../Formular/formular-LightItalic"),
    url("../Formular/formular-LightItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../Formular/formular-LightItalic.woff2") format("woff2"),
    url("../Formular/formular-LightItalic.woff") format("woff"),
    url("../Formular/formular-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Formular";
  src: url("../Formular/formular-Black.eot");
  src: local("../Formular/formular Black"), local("../Formular/formular-Black"),
    url("../Formular/formular-Black.eot?#iefix") format("embedded-opentype"),
    url("../Formular/formular-Black.woff2") format("woff2"),
    url("../Formular/formular-Black.woff") format("woff"),
    url("../Formular/formular-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Formular";
  src: url("../Formular/formular-Light.eot");
  src: local("../Formular/formular Light"), local("../Formular/formular-Light"),
    url("../Formular/formular-Light.eot?#iefix") format("embedded-opentype"),
    url("../Formular/formular-Light.woff2") format("woff2"),
    url("../Formular/formular-Light.woff") format("woff"),
    url("../Formular/formular-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Formular";
  src: url("../Formular/formular.eot");
  src: local("../Formular/formular"),
    url("../Formular/formular.eot?#iefix") format("embedded-opentype"),
    url("../Formular/formular.woff2") format("woff2"),
    url("../Formular/formular.woff") format("woff"),
    url("../Formular/formular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Formular";
  src: url("../Formular/formular-Medium.eot");
  src: local("../Formular/formular Medium"),
    local("../Formular/formular-Medium"),
    url("../Formular/formular-Medium.eot?#iefix") format("embedded-opentype"),
    url("../Formular/formular-Medium.woff2") format("woff2"),
    url("../Formular/formular-Medium.woff") format("woff"),
    url("../Formular/formular-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Formular";
  src: url("../Formular/formular-BoldItalic.eot");
  src: local("../Formular/formular Bold Italic"),
    local("../Formular/formular-BoldItalic"),
    url("../Formular/formular-BoldItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../Formular/formular-BoldItalic.woff2") format("woff2"),
    url("../Formular/formular-BoldItalic.woff") format("woff"),
    url("../Formular/formular-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Formular";
  src: url("../Formular/formular-Bold.eot");
  src: local("../Formular/formular Bold"), local("../Formular/formular-Bold"),
    url("../Formular/formular-Bold.eot?#iefix") format("embedded-opentype"),
    url("../Formular/formular-Bold.woff2") format("woff2"),
    url("../Formular/formular-Bold.woff") format("woff"),
    url("../Formular/formular-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
