@font-face {
  font-family: "Cormorant Garamond";
  src: url("../garamond/CormorantGaramond-MediumItalic.eot");
  src: local("../garamond/Cormorant Garamond Medium Italic"),
    local("../garamond/CormorantGaramond-MediumItalic"),
    url("../garamond/CormorantGaramond-MediumItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../garamond/CormorantGaramond-MediumItalic.woff2") format("woff2"),
    url("../garamond/CormorantGaramond-MediumItalic.woff") format("woff"),
    url("../garamond/CormorantGaramond-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Cormorant Garamond";
  src: url("../garamond/CormorantGaramond-Medium.eot");
  src: local("../garamond/Cormorant Garamond Medium"),
    local("../garamond/CormorantGaramond-Medium"),
    url("../garamond/CormorantGaramond-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("../garamond/CormorantGaramond-Medium.woff2") format("woff2"),
    url("../garamond/CormorantGaramond-Medium.woff") format("woff"),
    url("../garamond/CormorantGaramond-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Cormorant Garamond";
  src: url("../garamond/CormorantGaramond-LightItalic.eot");
  src: local("../garamond/Cormorant Garamond Light Italic"),
    local("../garamond/CormorantGaramond-LightItalic"),
    url("../garamond/CormorantGaramond-LightItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../garamond/CormorantGaramond-LightItalic.woff2") format("woff2"),
    url("../garamond/CormorantGaramond-LightItalic.woff") format("woff"),
    url("../garamond/CormorantGaramond-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Cormorant Garamond";
  src: url("../garamond/CormorantGaramond-Light.eot");
  src: local("../garamond/Cormorant Garamond Light"),
    local("../garamond/CormorantGaramond-Light"),
    url("../garamond/CormorantGaramond-Light.eot?#iefix")
      format("embedded-opentype"),
    url("../garamond/CormorantGaramond-Light.woff2") format("woff2"),
    url("../garamond/CormorantGaramond-Light.woff") format("woff"),
    url("../garamond/CormorantGaramond-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Cormorant Garamond";
  src: url("../garamond/CormorantGaramond-SemiBoldItalic.eot");
  src: local("../garamond/Cormorant Garamond SemiBold Italic"),
    local("../garamond/CormorantGaramond-SemiBoldItalic"),
    url("../garamond/CormorantGaramond-SemiBoldItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../garamond/CormorantGaramond-SemiBoldItalic.woff2") format("woff2"),
    url("../garamond/CormorantGaramond-SemiBoldItalic.woff") format("woff"),
    url("../garamond/CormorantGaramond-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Cormorant Garamond";
  src: url("../garamond/CormorantGaramond-Bold.eot");
  src: local("../garamond/Cormorant Garamond Bold"),
    local("../garamond/CormorantGaramond-Bold"),
    url("../garamond/CormorantGaramond-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("../garamond/CormorantGaramond-Bold.woff2") format("woff2"),
    url("../garamond/CormorantGaramond-Bold.woff") format("woff"),
    url("../garamond/CormorantGaramond-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Cormorant Garamond";
  src: url("../garamond/CormorantGaramond-BoldItalic.eot");
  src: local("../garamond/Cormorant Garamond Bold Italic"),
    local("../garamond/CormorantGaramond-BoldItalic"),
    url("../garamond/CormorantGaramond-BoldItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../garamond/CormorantGaramond-BoldItalic.woff2") format("woff2"),
    url("../garamond/CormorantGaramond-BoldItalic.woff") format("woff"),
    url("../garamond/CormorantGaramond-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Cormorant Garamond";
  src: url("../garamond/CormorantGaramond-SemiBold.eot");
  src: local("../garamond/Cormorant Garamond SemiBold"),
    local("../garamond/CormorantGaramond-SemiBold"),
    url("../garamond/CormorantGaramond-SemiBold.eot?#iefix")
      format("embedded-opentype"),
    url("../garamond/CormorantGaramond-SemiBold.woff2") format("woff2"),
    url("../garamond/CormorantGaramond-SemiBold.woff") format("woff"),
    url("../garamond/CormorantGaramond-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Cormorant Garamond";
  src: url("../garamond/CormorantGaramond-Italic.eot");
  src: local("../garamond/Cormorant Garamond Italic"),
    local("../garamond/CormorantGaramond-Italic"),
    url("../garamond/CormorantGaramond-Italic.eot?#iefix")
      format("embedded-opentype"),
    url("../garamond/CormorantGaramond-Italic.woff2") format("woff2"),
    url("../garamond/CormorantGaramond-Italic.woff") format("woff"),
    url("../garamond/CormorantGaramond-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Cormorant Garamond";
  src: url("../garamond/CormorantGaramond-Regular.eot");
  src: local("../garamond/Cormorant Garamond Regular"),
    local("../garamond/CormorantGaramond-Regular"),
    url("../garamond/CormorantGaramond-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../garamond/CormorantGaramond-Regular.woff2") format("woff2"),
    url("../garamond/CormorantGaramond-Regular.woff") format("woff"),
    url("../garamond/CormorantGaramond-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
