.footer {
  flex: 0 0 auto;
  background: #0e151e;
}
.footer__wrapper {
  display: flex;
  flex-direction: column;
}
.footer__info {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 4rem 0;
  box-sizing: border-box;
}
.footer__info span {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 200;
  font-size: 0.9rem;
  line-height: 1.4;
  color: #777777;
}
.footer__politics {
  background: rgb(209, 209, 209);
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__politics ul li {
  display: flex;
  align-items: center;
}
.footer__politics ul li a {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 0.8rem;
  line-height: 0.9rem;
  color: #0d6efd;
  transition: all 0.2s ease-in-out;
}
.footer__politics ul li a:hover {
  opacity: 0.7;
}
@media (max-width: 1024px) {
  .footer__info {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }
}
@media screen and (max-width: 600px) {
  .footer__info {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
}
