.footer {
  flex: 0 0 auto;
  background: #0e151e;
}
.footer__wrapper {
  display: flex;
  flex-direction: column;
}
.footer__info {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 4rem 0;
  box-sizing: border-box;
}
.footer__info span {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 200;
  font-size: 0.9rem;
  line-height: 1.4;
  color: #777777;
}
