.gallery {
  background: linear-gradient(rgb(14, 21, 30), rgb(39, 76, 125));
}
.gallery__wrapper {
  display: flex;
  flex-direction: column;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}
.gallery__top {
  display: flex;
  align-items: baseline;
  justify-content: center;
  text-align: center;
  padding: 1.5em;
  box-sizing: border-box;
  cursor: pointer;
  gap: 10px;
}
.gallery-icon {
  width: 25px;
  height: 25px;
  transition: all 0.3s ease-in-out;
}
.gallery-icon.active {
  transform: rotate(180deg);
}
.gallery__top h2 {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 1.6rem;
  color: #fff;
}
.gallery__inner {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 0;
  overflow: hidden;
  transition: all 1s ease-in-out;
}
.gallery__inner.active {
  height: auto;
  margin: 1.5rem auto 2rem;
}
.gallery__grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, minmax(auto, 1fr));
  gap: 2.5em;
  padding: 1rem;
  box-sizing: border-box;
}
.gallery__grid-item {
  max-width: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 40px 20px 40px 20px;
  box-sizing: border-box;
  background: #e1e6ed;
  color: #1a1a1a;
}
.gallery__grid-item h4 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 1rem;
}
.gallery__grid-item p {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 1rem;
}
.gallery__grid-item p:last-child {
  margin: 0;
}
.form-modal {
  max-width: 528px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.125rem 1.5rem;
  box-sizing: border-box;
  margin-top: 5rem;
  border: 1px solid #efc89a;
}
.form-modal h3 {
  font-family: "Playfair Display", serif;
  font-weight: 100;
  font-size: 1.6rem;
  line-height: 1.4;
  color: #fff;
  margin-bottom: 1rem;
}
.form-modal p {
  font-family: "Playfair Display", serif;
  font-weight: 100;
  font-size: 1rem;
  line-height: 1.4;
  color: #fff;
  margin-bottom: 10px;
}
.form-modal input {
  width: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 2.8;
  border-radius: 0.3rem;
  border-color: #e5e5e5;
  padding: 0 0.8rem;
  box-sizing: border-box;
  color: #000000;
  margin-top: 0.4rem;
}
input:focus::placeholder,
textarea:focus::placeholder {
  color: transparent;
}
.form-conditions {
  display: flex;
  gap: 0.8rem;
  margin-top: 1rem;
  cursor: pointer;
}
.form-conditions input {
  width: 15px;
  height: 15px;
  background: #fff;
  margin: 0.2rem;
}
.form-conditions p,
.form-conditions a {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 0.8rem;
  line-height: 1.4;
}
.form-conditions a {
  color: #0d6efd;
}
.form-modal button {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: 100%;
  margin: 2.5rem auto;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.2;
  font-style: normal;
  text-transform: none;
  border-radius: 0.5em;
  padding: 1em 1.8em;
  box-sizing: border-box;
  box-shadow: 0 0em 0em rgba(0, 0, 0, 0.2);
  background: #1d4694;
  border-color: transparent;
  color: #ffffff;
  transition: all 0.2s ease-in-out;
}
.form-modal button:hover {
  background: #144ab5;
}
.form-modal button:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}
.form-modal button:disabled:hover {
  background: #1d4694;
}
@media screen and (max-width: 1199px) {
  .gallery__grid {
    grid-template-columns: repeat(3, minmax(auto, 1fr));
  }
}
@media screen and (max-width: 899px) {
  .gallery__grid {
    grid-template-columns: repeat(2, minmax(auto, 1fr));
    gap: 1.2rem;
  }
  .form-modal {
    margin-top: 2rem;
    padding: 1.5rem 1rem;
  }
  .form-modal h3 {
    font-size: 1.125rem;
  }
}
@media screen and (max-width: 767px) {
  .gallery__top {
    gap: 5px;
  }
  .gallery__top h2 {
    font-size: 0.9rem;
  }
  .gallery-icon {
    width: 15px;
    height: 15px;
  }
  .gallery__grid-item h4 {
    font-size: 0.9;
    line-height: 1.3;
  }
  .gallery__grid-item p {
    font-size: 0.9;
    line-height: 1.3;
  }
  .gallery__inner.active {
    margin: 0 auto 2rem;
  }
}
@media screen and (max-width: 599px) {
  .gallery__grid {
    grid-template-columns: repeat(1, minmax(auto, 1fr));
  }
}
