:root {
  --gradient-blue: -webkit-linear-gradient(
    top,
    rgb(14, 21, 30) 0%,
    rgb(38, 73, 119) 27%,
    rgb(39, 76, 125) 65%
  );
  --gradient-gold: -webkit-linear-gradient(180deg, #efc89a, #ead9c5);
  --gradient-black: rgba(0, 0, 0, 0.2);
  --font-logo: Georgia, serif;
  --font-numbers: "Formular", sans-serif;
  --font-buttons: "Playfair Display", serif;
}
@media screen and (max-width: 899px) {
  :root {
  }
}

.header {
  width: 100%;
  padding: 1.375rem 0 1.375rem 0;
  background: transparent;
  box-sizing: border-box;
}
.header__nav {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  font-family: var(--font-logo);
  font-weight: 200;
  font-size: 1.5rem;
  line-height: 1;
  display: block;
  padding: 1rem;
}
.header__nav-cell {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.button-call {
  font-weight: 700;
  font-family: var(--font-numbers);
  font-size: 1.2rem;
  line-height: 1.5;
  color: #efc89a;
  transition: all 0.2s ease-in-out;
}
.button-call:hover {
  color: #0a58ca;
}

.button-write {
  font-family: var(--font-buttons);
  font-size: 1rem;
  line-height: 0.8;
  color: #000000;
  position: relative;
  padding: 0.9em 1.2em;
  border-radius: 1.2em;
  background: linear-gradient(180deg, #efc89a, #ead9c5);
  border: transparent;
  transition: all 0.2s ease-in-out;
  border: 1px solid transparent;
}

.button-write i {
  display: inline-block;
  vertical-align: middle;
  line-height: inherit;
  margin-right: 0.5em;
}
.button-write:hover {
  filter: brightness(0.9);
}

@media screen and (max-width: 899px) {
  .button-write {
    background: transparent;
    color: #efc89a;
    border: 1px solid #efc89a;
  }
}
