:root {
  --gradient-gold: -webkit-linear-gradient(180deg, #efc89a, #ead9c5);
  --gradient-black: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 3),
    rgba(0, 0, 0, 0.5)
  );
  --font-logo: Georgia, serif;
  --font-numbers: "Formular", sans-serif;
  --font-buttons: "Playfair Display", serif;
}
@media screen and (max-width: 900px) {
  :root {
  }
}
.header {
  width: 100%;
  padding: 1.375rem 0 1.375rem 0;
  background: transparent;
  box-sizing: border-box;
}
.header__nav {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  font-family: var(--font-logo);
  font-weight: 700;
  font-size: clamp(0.875rem, 3.5vw, 1.5rem);
  display: block;
  white-space: nowrap;
  border: 1px solid #efc89a;
}
.header__nav-cell {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  white-space: nowrap;
}

.button-call {
  font-weight: 700;
  font-family: var(--font-numbers);
  font-size: clamp(0.875rem, 3vw, 1.1875rem);
  color: #efc89a;
  transition: all 0.2s ease-in-out;
}
.button-call:hover {
  color: #0a58ca;
}

.button-write {
  font-family: var(--font-buttons);
  font-size: 1rem;
  line-height: 0.8;
  color: #000000;
  position: relative;
  padding: 0.9em 1.2em;
  border-radius: 1.2em;
  white-space: nowrap;
  background: linear-gradient(180deg, #efc89a, #ead9c5);
  border: transparent;
  transition: all 0.2s ease-in-out;
  border: 1px solid transparent;
}

.button-write i {
  display: inline-block;
  vertical-align: middle;
  line-height: inherit;
  margin-right: 0.5em;
}
.button-write:hover {
  filter: brightness(0.9);
}

@media screen and (max-width: 900px) {
  .button-write {
    background: transparent;
    color: #efc89a;
    border: 1px solid #efc89a;
    padding: 0.6em 0.8em;
  }
}

@media screen and (max-width: 767px) {
  .header {
    padding: 0.9rem 0 0.9rem 0;
  }
  .header__nav {
    flex-direction: column-reverse;
    gap: 1em;
  }
  .header__nav-cell {
    width: 100%;
    justify-content: space-between;
  }
  .button-call {
    font-size: 14px;
  }
  .button-write {
    font-size: 14px;
  }
}
