:root {
  --gradient-gold: -webkit-linear-gradient(180deg, #efc89a, #ead9c5);
  --gradient-black: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 3),
    rgba(0, 0, 0, 0.5)
  );
  --font-Inter: "Inter", serif;
  --font-Playfair: "Playfair Display", serif;
  --font-Formular: "Formular", sans-serif;
  --font-Georgia: Georgia, serif;
}
@media screen and (max-width: 900px) {
  :root {
  }
}
.header {
  width: 100%;
  padding: 1.375rem 0 1.375rem 0;
  box-sizing: border-box;
}

.header__nav {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 10;
}
.header__logo {
  font-family: var(--font-Inter);
  font-weight: 500;
  font-size: clamp(0.875rem, 3.5vw, 1.5rem);
  display: block;
  white-space: nowrap;
  padding: 0 3px;
  border: 1px solid #efc89a;
}
.header__nav-cell {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  white-space: nowrap;
}
.header__nav-items {
  display: flex;
  flex-direction: column;
}
.button-call {
  font-weight: 500;
  font-family: var(--font-Formular);
  font-size: clamp(0.875rem, 3vw, 1.1875rem);
  color: #efc89a;
  transition: all 0.2s ease-in-out;
}
.button-call:hover {
  color: #0a58ca;
}

.button-write {
  font-family: var(--font-Georgia);
  font-size: 1rem;
  line-height: 0.8;
  color: #000000;
  position: relative;
  padding: 0.9em 1.2em;
  border-radius: 1.2em;
  white-space: nowrap;
  background: linear-gradient(180deg, #efc89a, #ead9c5);
  border: transparent;
  transition: all 0.2s ease-in-out;
  border: 1px solid transparent;
}

.button-write i {
  display: inline-block;
  line-height: inherit;
  margin-right: 0.5em;
}
.button-write:hover {
  filter: brightness(0.9);
}

@media screen and (max-width: 900px) {
  .button-write {
    background: transparent;
    color: #efc89a;
    border: 1px solid #efc89a;
    padding: 0.6em 0.8em;
  }
}

@media screen and (max-width: 767px) {
  .header {
    padding: 10px 0 10px 0;
  }
  .header__nav {
    flex-direction: column-reverse;
    gap: 1.5rem;
  }
  .header__nav-cell {
    width: 100%;
    justify-content: space-between;
  }
  .button-call {
    font-size: 14px;
  }
  .button-write {
    font-size: 14px;
  }
}
/*logo*/
@import url(https://fonts.googleapis.com/css?family=Russo+One);
.logotype1,
.logotype1:hover,
.logotype1 div {
  position: relative;
  display: inline-block;
  font-size: 36px;
  color: #efc89a;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.2);
  font-family: "Russo One", sans-serif;
  font-weight: 300;
  text-decoration: none;
  margin: 20px 0 20px 26px;
  line-height: 16px;
}
.logotype1 div {
  display: block;
}
.logotype1 b {
  letter-spacing: 1px;
  font-size: 44px;
  color: #efc89a;
  -webkit-text-stroke: 1px #fff;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
  font-weight: 600;
  background: -webkit-linear-gradient(
    top,
    rgb(16 43 73) 0%,
    rgb(19 42 71) 10%,
    rgb(32 62 103) 65% 65%
  );
}
.logotype1 span {
  text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.2);
  display: block;
  float: right;
  font-size: 20px;
  color: #efc89a;
  line-height: 6px;
}
.logotype1:before {
  position: absolute;
  top: -12px;
  left: 0;
  content: "";
  border: 8px solid #efc89a;
  width: 66px;
  height: 66px;
  border-radius: 100%;
  transition: all 0.3s ease;
  z-index: -1;
  box-sizing: content-box;
}
.logotype1:hover:before {
  transform: scale(1.1);
  border: 8px solid #efc89a;
}
@media (max-width: 600px) {
  .logotype1,
  .logotype1:hover,
  .logotype1 div {
    font-size: 26px;
    line-height: 6px;
    margin: 20px 0 20px 20px;
  }
  .logotype1 b {
    font-size: 34px;
  }
  .logotype1 span {
    font-size: 16px;
    line-height: 4px;
  }
  .logotype1:before {
    top: -9px;
    border: 6px solid #efc89a;
    width: 52px;
    height: 52px;
  }
  .logotype1:hover:before {
    border: 6px solid #efc89a;
  }
}
