@import url("./normalize.css");
@import url("../fonts/fonts.css");
@import url("./page.css");
@import url("./header.css");
@import url("./promo.css");
@import url("./gallery.css");
@import url("./footer.css");
