@import url("./normalize.css");

#root {
  font-family: "", "", sans-serif;
  font-synthesis: none;
  font-optical-sizing: auto;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

.page {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}

.header {
  width: 100%;
}

.content {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}

.footer {
  flex: 0 0 auto;
  background: #148627;
}
