:root {
  --font-logo: "Playfair Display", serif;
  --font-numbers: "Formular", sans-serif;
}
html {
  font-size: 16px;
}
.page {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  font-family: "Playfair Display", serif;
  font-synthesis: none;
  font-optical-sizing: auto;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  background: -webkit-linear-gradient(
    top,
    rgb(14, 21, 30) 0%,
    rgb(38, 73, 119) 10%,
    rgb(39, 76, 125) 65%
  );
}
.main {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}
.container {
  max-width: 1220px;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  box-sizing: border-box;
  margin: 0 auto;
}
.gold-txt {
  color: transparent;
  background-image: linear-gradient(180deg, #ead9c5, #efc89a, #ead9c5);
  -webkit-background-clip: text;
  background-clip: text;
}
@media screen and (max-width: 900px) {
  .container {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
