:root {
}
.promo {
  background: transparent;
}
.promo__wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.promo__top {
  display: flex;
  flex-direction: column;
  color: #efc89a;
  text-align: center;
  margin: 10px 0;
}
.promo__top h1 {
  font-family: "Playfair Display", serif;
  font-weight: 200;
  font-size: clamp(1.4rem, 3.5vw, 2.125rem);
  line-height: clamp(1.75rem, 5.5vw, 2.75rem);
}
@media screen and (max-width: 900px) {
}
