:root {
  --font-Mulish: "Mulish", sans-serif;
}
.promo {
  background: transparent;
}
.promo__wrapper {
  display: flex;
  flex-direction: column;
}
.promo__top {
  display: flex;
  flex-direction: column;
  color: #efc89a;
  text-align: center;
  margin: 3rem 0;
}
.promo__top h1 {
  font-family: "Cormorant Infant", serif;
  font-weight: 500;
  font-size: clamp(1.375rem, 3.5vw, 2.125rem);
  line-height: clamp(1.75rem, 5.5vw, 2.75rem);
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1),
    0px 18px 23px rgba(0, 0, 0, 0.1);
}
.promo__inner {
  display: flex;
}
.promo__quiz {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.promo__list {
  align-self: flex-start;
  list-style: none;
}
.promo__list li {
  font-family: "Playfair Display", serif;
  font-weight: 100;
  font-size: 1.125rem;
  line-height: 27px;
  color: #fff;
  padding: 0.5rem 0;
}
.promo__list li::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: rgb(216, 176, 131);
  margin-right: 20px;
}
.arrow-left-5,
.arrow-right-5,
.arrow-top-5,
.arrow-bottom-5 {
  margin: 20px 8px;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  fill: #fff;
  transition: fill 0.5s ease-out, transform 0.3s ease-in;
}
.arrow-left-5:hover,
.arrow-right-5:hover,
.arrow-top-5:hover,
.arrow-bottom-5:hover {
  fill: #efc89a;
  transform: scale(1.2);
}
.arrow-left-5:hover {
  transform: rotate(90deg) scale(1.2);
}
.arrow-right-5:hover {
  transform: rotate(270deg) scale(1.2);
}
.arrow-top-5:hover {
  transform: rotate(180deg) scale(1.2);
}
@media screen and (max-width: 900px) {
  .promo__inner {
    flex-direction: column;
  }
  .promo__quiz {
    flex-basis: 100%;
  }
  .promo__list li {
    font-size: 0.8rem;
    padding: 0;
  }
}
/*QUIZ*/
.quiz-container {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  background: linear-gradient(180deg, #efc89a, #ead9c5);
  border-radius: 5px;
  border: 1px solid #fff;
  -webkit-box-shadow: 0px 0px 36px -20px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 0px 36px -20px rgba(0, 0, 0, 1);
  box-shadow: 0px 0px 36px -20px rgba(0, 0, 0, 1);
}
.quiz-header {
  font-family: "Formular", sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 24px;
  margin: 20px 0 10px;
}
.quiz-questions {
  padding: 0.5rem 0;
}
.quiz-questions li {
  margin: 0 1.5rem 0.6rem 0;
  cursor: pointer;
}
.quiz-questions li input,
.quiz-questions li label {
  cursor: pointer;
}
input[type="radio"] {
  accent-color: #000;
  width: 19px;
  height: 19px;
}
.quiz-questions li input {
  vertical-align: middle;
  margin-right: 0.4rem;
}
@media screen and (max-width: 900px) {
  .promo__inner {
    margin: 0 1rem;
  }
  .quiz-header {
    margin: 0;
  }
}
@media screen and (max-width: 767px) {
  .quiz-header {
    font-size: 1rem;
  }
}
@media screen and (max-width: 600px) {
  .promo__inner {
    margin: 0;
  }
}
