:root {
  --font-Mulish: "Mulish", sans-serif;
}
.promo {
  background: transparent;
}
.promo__wrapper {
  display: flex;
  flex-direction: column;
}
.promo__top {
  display: flex;
  flex-direction: column;
  color: #efc89a;
  text-align: center;
  margin: 3rem 0;
}
.promo__top h1 {
  font-family: "Cormorant Infant", serif;
  font-weight: 500;
  font-size: clamp(1.375rem, 3.5vw, 2.125rem);
  line-height: clamp(1.75rem, 5.5vw, 2.75rem);
}
@media screen and (max-width: 900px) {
}
.promo__inner {
  display: flex;
}

.promo__list {
  list-style: none;
}
.promo__list li {
  font-family: "Playfair Display", serif;
  font-weight: 100;
  font-size: clamp(1.1rem, 3.5vw, 1.125rem);
  line-height: 27px;
  color: #fff;
  padding: 0.5rem 0;
}
.promo__list li::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: rgb(216, 176, 131);
  margin: auto 20px;
}
